header{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.d-flex flex-row mb-3 justify-content-end{
    display: inline-block;
}

.img{
    border-radius: 60px;
}
.user{
   display: flex;
   flex-wrap: wrap;

}

.person{
    height:300px;
    width: 500px;
    padding-right: 90px;
}